In [1]:
import pandas as pd

In [2]:
f2015="62237150对账单/2015.xls"

In [15]:
skiprows2015=[x for x in range(19)] + [x for x in range(30,34)]
skiprows2015

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 30,
 31,
 32,
 33]

In [16]:
d2015=pd.read_excel(f2015,skiprows=skiprows2015)

In [17]:
d2015

,日期,币种,股东账号,证券代码,证券名称,业务标志,发生数量,成交均价,佣金,印花税,其他费,收付金额,资金余额,备注信息
0,20150814,人民币,NaN,,,转存管转出,0,0.000,0,0,0,0.00,0.00,转存管转出关联流水号:2247
1,20150814,人民币,NaN,,,转存管转入,0,0.000,0,0,0,0.00,0.00,转存管转入关联流水号:2247
2,20150818,人民币,NaN,,,银行转存,0,0.000,0,0,0,1000.00,1000.00,银行返回码[0000]返回信息[[0000]交易成功]|转账成功
3,20150818,人民币,NaN,,,银行转存,0,0.000,0,0,0,6000.00,7000.00,银行返回码[0000]返回信息[[0000]交易成功]|转账成功
4,20150818,人民币,A28***8826,510180,180ETF,证券买入,100,3.445,5,0,0,-349.50,6650.50,证券买入
5,20150824,人民币,A28***8826,510180,180ETF,证券买入,100,2.865,5,0,0,-291.50,6359.00,证券买入
6,20150921,人民币,NaN,,,利息归本,0,0.000,0,0,0,2.12,6361.12,利息归本: 归本利息为 2.12
7,20151013,人民币,A28***8826,510300,300ETF,证券买入,500,3.486,5,0,0,-1748.00,4613.12,证券买入
8,20151120,人民币,A28***8826,510180,180ETF,股息入账,-200,0.000,0,0,0,10.20,4623.32,股息入账;股东账号：A287428826;
9,20151221,人民币,NaN,,,利息归本,0,0.000,0,0,0,4.46,4627.78,利息归本: 归本利息为 4.46

In [24]:
trans = d2015[ d2015['证券代码'].str.startswith('510') & (d2015['业务标志'].str.contains('买入') | d2015['业务标志'].str.contains('卖出'))]
trans

,日期,币种,股东账号,证券代码,证券名称,业务标志,发生数量,成交均价,佣金,印花税,其他费,收付金额,资金余额,备注信息
4,20150818,人民币,A28***8826,510180,180ETF,证券买入,100,3.445,5,0,0,-349.5,6650.50,证券买入
5,20150824,人民币,A28***8826,510180,180ETF,证券买入,100,2.865,5,0,0,-291.5,6359.00,证券买入
7,20151013,人民币,A28***8826,510300,300ETF,证券买入,500,3.486,5,0,0,-1748.0,4613.12,证券买入

In [41]:
filtered=trans.loc[:,['日期','证券代码','业务标志','发生数量','成交均价','佣金','印花税','其他费']]
filtered

         日期    证券代码  业务标志  发生数量   成交均价  佣金  印花税  其他费
4  20150818  510180  证券买入   100  3.445   5    0    0
5  20150824  510180  证券买入   100  2.865   5    0    0
7  20151013  510300  证券买入   500  3.486   5    0    0

In [42]:
from datetime import datetime
from dataclasses import dataclass
@dataclass
class Trans:
    dt: datetime
    sym: str`
    side: str
    shares: int
    price: float
    cost: float

In [43]:
[ Trans(datetime.strptime(str(row['日期']), '%Y%m%d'), row['证券代码'], 'BUY' if row['业务标志'] == '证券买入' else 'SELL', int(row['发生数量']), float(row['成交均价']), float(row['佣金']) + float(row['印花税']) + float(row['其他费']))  for idx, row in filtered.iterrows()]

[Trans(dt=datetime.datetime(2015, 8, 18, 0, 0), sym='510180', side='BUY', shares=100, price=3.445, cost=5.0),
 Trans(dt=datetime.datetime(2015, 8, 24, 0, 0), sym='510180', side='BUY', shares=100, price=2.865, cost=5.0),
 Trans(dt=datetime.datetime(2015, 10, 13, 0, 0), sym='510300', side='BUY', shares=500, price=3.486, cost=5.0)]

In [44]:
skiprows2017=[x for x in range(20)] + [x for x in range(112,117)]
d2017=pd.read_excel("62237150对账单/2017.xls",skiprows=skiprows2017)
d2017

,日期,币种,股东账号,证券代码,证券名称,业务标志,发生数量,成交均价,佣金,印花税,其他费,收付金额,资金余额,备注信息
0,20170125,人民币,A28***8826,510300,300ETF,股息入账,0,0.00,0.00,0,0,104.50,129.19,股息入账:300ETF510300;股东账号：A287428826;
1,20170321,人民币,NaN,,,利息归本,0,0.00,0.00,0,0,0.08,129.27,利息归本: 归本利息为 0.08correct_balance=0
2,20170621,人民币,NaN,,,利息归本,0,0.00,0.00,0,0,0.12,129.39,利息归本: 归本利息为 0.12correct_balance=0
3,20170830,人民币,NaN,,,银行转存,0,0.00,0.00,0,0,10000.00,10129.39,银行返回码[0000]返回信息[[0000]交易成功]|转账成功correct_balance=0
4,20170830,人民币,018***9536,131810,Ｒ-001,质押回购拆出,100,6.80,0.10,0,0,-10000.10,129.29,融券回购购回日:20170831预计利息:1.86-131990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,20171221,人民币,NaN,,,利息归本,0,0.00,0.00,0,0,0.10,0.10,利息归本: 归本利息为 0.1correct_balance=0
87,20171222,人民币,761***004384,000540,国金金腾通货币A,申购确认,0,0.00,0.00,0,0,-0.10,0.00,122扣除金额 基金代码：000540
88,20171225,人民币,761***004384,000540,国金金腾通货币A,赎回确认,0,0.00,0.00,0,0,46000.96,46000.96,124增加金额 基金代码：000540
89,20171225,人民币,018***9536,131801,Ｒ-007,质押回购拆出,460,7.15,0.46,0,0,-46000.46,0.50,融券回购购回日:20180101预计利息:72.09参考占款天数：8-131990
90,20171226,人民币,761***004384,000540,国金金腾通货币A,申购确认,0,0.00,0.00,0,0,-0.50,0.00,122扣除金额 基金代码：000540

In [45]:
d2017[ d2017['证券代码'].str.startswith('510') & (d2017['业务标志'].str.contains('买入') | d2017['业务标志'].str.contains('卖出'))]

,日期,币种,股东账号,证券代码,证券名称,业务标志,发生数量,成交均价,佣金,印花税,其他费,收付金额,资金余额,备注信息
78,20171130,人民币,A28***8826,510300,300ETF,证券买入,100,4.073,5.0,0,0,-412.3,0.5,证券买入